* {
   padding:0;
   margin: 0;
  }

  .Logo {
    position: absolute;
    width: 174px;
    height: 27px;
    object-fit: contain;
    left: 374px;
    top: 33px;
  }
  .Surfing {
    width: 1920px;
    height: 700px;
    object-fit: contain;
  }

  .Shape {
  width: 80px;
  height: 24px;
  background-color: #00b0ff;
  top:40px;
  left:681.5px;
  position: absolute;
  }

  .Menu {
    position: absolute;
    left:694px;
    top:44px;
    word-spacing: 24px;
  }

  .Menu a {
    font-size:14px;
    font-family:Montserrat;
  }

  .Facebook {
  width: 36px;
  height: 36px;
  border-radius:50%;
  object-fit: contain;
  left:1417px;
  top:35px;
  position: absolute;
  background-color: black;
  }

  .Instagram {
    width: 36px;
    height: 36px;
    border-radius:50%;
    object-fit: contain;
    left:1463px;
    top:35px;
    position: absolute;
    background-color: black;
    }

    .Mail {
    width: 36px;
    height: 36px;
    border-radius:50%;
    object-fit: contain;
    left:1509px;
    top:35px;
    position: absolute;
    background-color:black;
        }
        
 
