* {
   padding:0;
   margin: 0;
  }

  .Surfing{
    position:absolute;
  }

  .Flex1{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content:space-evenly;
    padding-top: 33px;
  }

  .Flex1 a{
    margin: 0 5px 0 5px;
  }
  
  .Logo {
    position: relative;
    object-fit: contain;
  }

  .Menu {
    font-weight:bold; 
    position: relative;
    word-spacing: 24px;
  }

  .Menu a {
    padding: 6px 10px 6px 10px;
    font-size:14px;
    font-family:Montserrat;
  }

  .Menu a:hover {
    cursor: pointer;
    background-color:#00b0ff;
    color:white;
    transition:0.2s;
    
  }

.nav img{
  height: 36px;
  width: 36px;
  margin: 0 3px 0 3px;
  border-radius:50%;
  position: relative;
  background-color: black;
}
     
  h1 {
  position: relative;
  padding-top:183px;
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: italic;
  color: black;
    
  } 
  
  h2 {
  position: relative;
  padding-top: 12px;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: italic;
  text-align:center;
  color: #ffffff;
  text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);
  }      

  .Card {
    display: flex;
    position: relative;
    margin: 78px auto;
    width: 1030px;
    height: 600px;
    object-fit: contain;
    background-color: #ffffff;
    box-shadow: 0px -8px 30px 0 rgba(0, 0, 0, 0.34);
  }


  .Board {
    position: relative;
    object-fit: contain;
  }

  .BoardImgs{
    display: flex;
    position: relative;
    margin-left: -35px;
    flex-direction: column;
    height: 297px;
    width: 70px;
    justify-content: space-between;
    top:25%;
  }

  .Board1 {
    width:  70px;
    height: 70px;
    border: solid 1px rgba(0, 0, 0, 0.2);
   }

   .Board1:hover {
  border: solid 2px #00b0ff;
  cursor: pointer;
  }

  .BoardText{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 49px;
    padding-top: 45px;
  }

 .Text1{
   width: 329px;
   height: 44px;
   position: relative;
   font-family: Montserrat;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3;
 }

 .Description{
   position: relative;
   font-family: Raleway;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 0.7px;
   color: #a0a0a0;
   background-color:white;
   border:hidden;
   margin: 68px 28px 0 0;
   
   }
    .Description:focus{
    outline:none;
    color: black;
    border-bottom: solid 3px #00b0ff;
    cursor: pointer;
    transition:0.07s;
  
     }
     .Description:hover{
      cursor: pointer;
    }
    .Description:active .Text2{
      display:inline;
    }
 .Features{
   position: relative;
   font-family: Raleway;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 0.7px;
   color: #a0a0a0;
   background-color:white;
   border:hidden;
   margin: 0 28px 0 0;
   }.Features:focus{
    outline:none;
    color: black;
    border-bottom: solid 3px #00b0ff;
    cursor: pointer;
    transition:0.07s; 
   }
   .Features:hover{
   cursor: pointer;
   }
.Dimensions{
  position: relative;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #a0a0a0;
  background-color:white;
  border:hidden;
  
 }
 .Dimensions:focus{
  outline:none;
  color: black;
  border-bottom: solid 3px #00b0ff;
  cursor: pointer;
  transition:0.07s;
 }
 .Dimensions:hover{
   cursor: pointer;
 } 

.Hr{
  position: relative;
  width: 396px;
  height: 1px;
  opacity: 0.5;
  background-color: #a0a0a0;
}
.Text2{
  padding-top: 28px;
  width: 389px;
  height: 160px;
  position: relative;
  font-family: Raleway;
  font-size: 16px;
  color: #787878;
  line-height: 1.5;
}

.shop{
 padding-top: 47px;
 position: relative;
 display: inline-flex;
 align-items:center;
}

.Price{
  position: relative;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  border-bottom:5px;
}

.Buy {
  margin-left: 29px;
  font-weight: bold;
  font-family: Montserrat;
  width: 108px;
  height: 31px;
  position: relative;
  background-color:#00b0ff;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  padding-left: 31px;
  padding-top: 14px;
  margin-top: 2.5px;
}

.View{
  font-weight:bold;
  text-decoration: none;
  width: 113px;
  height: 14px;
  font-family: Montserrat;
  font-size: 15px;
  position: relative;
  color: #00b0ff;
  border-bottom: solid 2px #00b0ff;
  padding-bottom: 5px;
  margin-top: 70px;
}

.BOARDS{
  writing-mode: vertical-rl;
  text-orientation:mixed;
  position: absolute;
  width: 119px;
  height: 600px;
  opacity: 0.03;
  font-family: Montserrat;
  font-weight: bold;
  color:black;
  font-size: 138.5px;
  
}

.Prev{
 position: absolute;
 left:1437px;
 top:486px; 
}

.Next{
  position: absolute;
  left:1475px;
  top:486px;
}

.List{
  position: absolute;
  left:1422px;
  top:524px;
  padding:9px 9px 9px 9px;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: -0.6px;
}

.ABOUT{
  position: absolute;
  left:379px;
  top:1140px;
  width: 1210px;
  height: 143px;
  opacity: 0.03;
  font-family: Montserrat;
  font-size: 196px;
  font-weight: bold;
  letter-spacing: 19.6px;
}

.Con{
  position: absolute;
  top:1333px;
  width: 1920px;
  height: 640px;
  object-fit: contain;
}

.TextB{
  position: absolute;
  top:1625px;
  width: 945px;
  height: 530px;
  object-fit: contain;
  background-color:white;
}

h3{
  position: absolute;
  left:544px;
  top:1728px;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2.5px; 
}

.X{
  position: absolute;
  left:654px;
  top:1762px;
  width: 13px;
  height: 13px;
  object-fit: contain;
}

.Text3{
  position: absolute;
  left:495px;
  top:1809px;
  width: 341px;
  height: 288px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  font-style: italic;
  line-height: 1.73;
}

.Read{
  font-weight:bold;
  text-decoration: none;
  width: 83px;
  height: 14px;
  font-family: Montserrat;
  font-size: 15px;
  position: absolute;
  left:495px;
  top:2130px;
  color: #00b0ff;
  border-bottom: solid 2px #00b0ff;
  padding-bottom: 5px; 
}

.Clip{
  position: absolute;
  left:1015px;
  top:1893px;
  width: 500px;
  height: 300px;
  object-fit: contain;
  opacity: 0.1;
  background-color:aqua; 
}

.Play{
  position: absolute;
  left:1220px;
  top:1998px;
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.Cir{
  position: absolute;
  left:1195px;
  top:1973px;
  width: 140px;
  height: 140px;
  object-fit: contain;
  opacity: 0.7;
}

.Team{
  position: absolute;
  left:360px;
  top:2320px;
  width: 1250px;
  height: 138px;
  opacity: 0.03;
  font-family: Montserrat;
  font-size: 190px;
  font-weight: bold;
  letter-spacing: 19px;
  color:black;
}


li:first-child{
  color:#00b0ff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
}
li:nth-child(2){
  color:#8c8c8c;
  font-family: Raleway;
  font-size: 14px;
  padding-bottom:15px;
}
li:nth-child(4){
  color:#8c8c8c;
  font-family: Raleway;
  font-size: 14px;
  padding-top:15px;
}

.Peo1{
  position: absolute;
  left:470px;
  top:2471px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
 }

 .Snim1{
  position: absolute;
  left:547px;
  top:2501px;
  width: 100px;
  height: 100px;
 }
 
 .Inf1{
   position: absolute;
   left:525px;
   top:2617px;
   list-style:none;
   text-align: center;
 }

.Peo3{
  position: absolute;
  left:950px;
  top:2471px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
 } 

 .Snim3{
  position: absolute;
  left:1027px;
  top:2501px;
  width: 100px;
  height: 100px;
  border-radius:50%;
 }

 .Inf3{
   position: absolute;
   left:1037px;
   top:2617px;
   list-style:none;
   text-align: center;
   white-space: nowrap;
 }


.Peo2{
  position: absolute;
  left:710px;
  top:2501px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
 } 

 .Snim2{
  position: absolute;
  left:787px;
  top:2531px;
  width: 100px;
  height: 100px;
 }

 .Inf2{
   position: absolute;
   left:780px;
   top:2647px;
   list-style:none;
   text-align: center;
   white-space: nowrap;
 }

.Peo4{
  position: absolute;
  left:1190px;
  top:2501px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
 }

 .Snim4{
  position: absolute;
  left:1267px;
  top:2531px;
  width: 100px;
  height: 100px;
  border-radius:50%;
 }
 
 .Inf4{
  position: absolute;
  left:1245px;
  top:2647px;
  list-style:none;
  text-align: center;
  white-space: nowrap;
 }


.Bleft{
  position: absolute;
  left:360px;
  top:2575px;
  width: 100px;
  height: 100px;
}

.Bright{
  position: absolute;
  left:1465px;
  top:2575px;
  width: 100px;
  height: 100px;
}


h4{
  position: absolute;
  left:865px;
  top:2959px;
  width: 195px;
  height: 14px;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2.5px;
 }
 .X1{
   position: absolute;
   left:954px;
   top:2992px;
   width: 13px;
   height: 13px;
}




 




.Card1 {
    position: absolute;
    top:4000px;
    left:445px;
    width: 1030px;
    height: 600px;
    object-fit: contain;
    background-color: #ffffff;
    box-shadow: 0px -8px 30px 0 rgba(0, 0, 0, 0.34);
}