* {
   padding:0;
   margin: 0;
  }

  

  .wrapper{
    max-width:1171px ;
    margin: 0 auto;
    align-items: center;
  }

  header{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    margin-top: 33px;
  }
 
  .logo {
    position: relative;
    object-fit: contain;
  }

  .navigation {
    font-weight:700; 
    position: relative;
    word-spacing: 24px;
  }
  .nav_list{
    display:inline-flex;
  }

  .navigation li {
    padding: 6px 10px;
    font-size:14px;
    font-family:Montserrat;
    list-style: none;
  }

  .navigation li:hover {
    cursor: pointer;
    background-color:#00b0ff;
    color:white;
    transition:0.2s;
    
  }

.nav_img png{
  height: 36px;
  width: 36px;
  border-radius:50%;
  position: relative;
  background-color: black;
}
     
  .section2{
    margin-top:149px;
    text-align:center;
  }

  .title {
  position: relative;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: italic;
  color: black;
    
  } 
  
  .under_title {
  position: relative;
  margin-top: 12px;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: italic;
  color: #ffffff;
  text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);
  }      

  .card_section {
    display: flex;
    position: relative;
    margin: 150px auto;
    width: 1030px;
    height: 600px;
    object-fit: contain;
    background-color: #ffffff;
    box-shadow: 0px -8px 30px 0 rgba(0, 0, 0, 0.34);
  }

  .board {
    position: relative;
  }

  .board_imgs{
    display: flex;
    position: relative;
    margin-left: -35px;
    flex-direction: column;
    height: 297px;
    justify-content: space-between;
    top:25%;
  }

  .board1 {
    width:  70px;
    height: 70px;
    border: solid 1px rgba(0, 0, 0, 0.2);
   }

   .board1:hover {
  border: solid 1px #00b0ff;
  cursor: pointer;
  }

  .card_text{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 49px;
    padding-top: 45px;
  }

 .card_title{
   position: relative;
   font-family: Montserrat;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3;
 }

 .card_buttons{
   margin-top:68px;
 }

 .description{
   position: relative;
   font-family: Raleway;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 0.7px;
   color: #a0a0a0;
   background-color:white;
   border:hidden;
   margin: 0 28px 0 0;
   border-bottom: solid 3px transparent;
   }
    .description:focus{
    outline:none;
    color: black;
    border-bottom: solid 3px #00b0ff;
    cursor: pointer;
    transition:0.07s;
  
     }
     .description:hover{
      cursor: pointer;
    }
   
 .features{
   position: relative;
   font-family: Raleway;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 0.7px;
   color: #a0a0a0;
   background-color:white;
   border:hidden;
   margin: 0 28px 0 0;
   border-bottom: solid 3px transparent;
   }.features:focus{
    outline:none;
    color: black;
    border-bottom: solid 3px #00b0ff;
    cursor: pointer;
    transition:0.07s; 
   }
   .features:hover{
   cursor: pointer;
   }
.dimensions{
  position: relative;
  font-family: Raleway;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #a0a0a0;
  background-color:white;
  border:hidden;
  border-bottom: solid 3px transparent;
 }
 .dimensions:focus{
  outline:none;
  color: black;
  border-bottom: solid 3px #00b0ff;
  cursor: pointer;
  transition:0.07s;
 }
 .dimensions:hover{
   cursor: pointer;
 } 

.hr{
  position: relative;
  width: 396px;
  height: 1px;
  opacity: 0.5;
  background-color: #a0a0a0;
}
.card_article{
  margin-top: 28px;
  width: 389px;
  position: relative;
  font-family: Raleway;
  font-size: 16px;
  color: #787878;
  line-height: 1.5;
}

.shop{
 padding-top: 47px;
 position: relative;
 display: inline-flex;
 align-items:center;
}

.price{
  position: relative;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bolder;
}

.buy_button {
  margin-top: 2.5px;
  margin-left: 29px;
  font-weight: bold;
  font-family: Montserrat;
  width: 108px;
  height: 31px;
  position: relative;
  background-color:#00b0ff;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  padding-left: 31px;
  padding-top: 14px;
}

.view{
  font-weight:bold;
  text-decoration: none;
  width: 113px;
  height: 14px;
  font-family: Montserrat;
  font-size: 15px;
  position: relative;
  color: #00b0ff;
  border-bottom: solid 2px #00b0ff;
  padding-bottom: 5px;
  margin-top: 70px;
}

.card_opacity{
  writing-mode: vertical-rl;
  text-orientation:mixed;
  position: absolute;
  top:-13px;
  right:-35px;
  width: 119px;
  height: 600px;
  opacity: 0.03;
  font-family: Montserrat;
  font-weight: bold;
  color:black;
  font-size: 138.5px;
 z-index: 1; 
}

.prev{
 position: absolute;
 right:0px;
 top:50px; 
 z-index:2;
}

.next{
  position: absolute;
  right:-38px;
  top:50px;
}

.list{
  position: absolute;
  right:0px;
  top:88px;
  padding:9px 9px 9px 9px;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: -0.6px;
}

.section3{
  margin-top: 176px;
}

.about_opacity{
  position:relative;
  opacity: 0.03;
  font-family: Montserrat;
  font-size: 196px;
  font-weight: bold;
  letter-spacing: 19.6px;
}


.text_container{
  display: block;
  position: absolute;
  margin-top: 280px;
  width: 945px;
  height: 530px;
  left: 0;
  background-color:white;
  text-align: right;
}

.section3_text{
  position: relative;
  display:block;
  margin-top: 30px;
}

.section3_h{
  position: relative;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2.5px;
  margin-top: 100px;
  margin-right: 155px;
}

.section3_x{
  position: relative;
  width: 13px;
  height: 13px;
  object-fit: contain;
  margin-top: 10px;
  margin-right: 278px;
}

.section3_description{
  display: block;
  position: relative;
  width: 341px;
  font-family: PlayfairDisplay;
  font-size: 22px;
  font-style: italic;
  line-height: 1.73;
  margin-left: auto;
  text-align:left;
  margin-right: 107px;
  margin-bottom: 33px;
}

.read_button{
  font-weight:bold;
  text-decoration: none;
  width: 83px;
  height: 14px;
  font-family: Montserrat;
  font-size: 15px;
  position: relative;
  color: #00b0ff;
  border-bottom: solid 2px #00b0ff;
  padding-bottom: 5px;
  margin-right:368px;
}

.clip{
  position: relative;
  width: 500px;
  height: 300px;
  object-fit: contain;
  opacity: 0.1;
  background-color:aqua;
  margin-top: 400px;
  margin-left: 1015px;
  margin-bottom: 300px;
}

.play{
  position: absolute;
  left:1220px;
  top:1998px;
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.cir{
  position: absolute;
  left:1195px;
  top:1973px;
  width: 140px;
  height: 140px;
  object-fit: contain;
  opacity: 0.7;
}

.Team{
  position: relative;
  opacity: 0.03;
  font-family: Montserrat;
  font-size: 190px;
  font-weight: bolder;
  letter-spacing: 19px;
  color:black;
}

.section_staff{
  position: relative;
  display:inline-flex;
  width: 1171px;
  height: 308px;
  justify-content: center;
  margin-top: -100px;
}

.staff1{
  position: relative;
  display: flex;
  margin-left:25px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
}

  .staff_inf{
    list-style:none;
    margin: auto;
    text-align: center;
}

.staff2{
  position: relative;
  display: flex;
  margin-top:30px;
  margin-left:-20px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}
  

.staff3{
  position: relative;
  display: flex;
  margin-left:-20px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
  z-index:1
 }
  .photo{
    border-radius: 50%;
}

.staff4{
  position: relative;
  display: flex;
  margin-top:30px;
  margin-left:-20px;
  width: 260px;
  height: 278px;
  border-radius: 4px;
  background-color:white;
  box-shadow: 10px 17.3px 50px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
 }
  .photo1{
    border-radius: 50%;
}


.section_staff ul li:nth-child(2){
  color:#00b0ff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
} 
.section_staff ul li:nth-child(3){
  color:#8c8c8c;
  font-family: Raleway;
  font-size: 14px;
  padding-bottom:15px;
}
.section_staff ul li:nth-child(5){
  color:#8c8c8c;
  font-family: Raleway;
  font-size: 14px;
  padding-top:15px;
}

.section4_titles{
  text-align: center;
}

.section4_h{
  position: relative;
  margin-top: 180px;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2.5px;
 }
 .section4_x{
   position: relative;
   margin-top: 20px;
   width: 13px;
   height: 13px;
}

.section4_info{
  display: inline-flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  height: 344px;
 }

 .info1{
  position: relative;
  display: flex;
  width: 270px;
  height: 344px;
 }
  .info1_p{
    margin:230px 0 0 25px;
    position:absolute;
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.5;
    color: #787878;
  }

 .info2{
  position: relative;
  display: flex;
  margin: 0 30px;
  width: 270px;
  height: 344px;
 }
  .info2_p{
    margin:230px 0 0 25px;
    position:absolute;
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.5;
    color: #787878;
  }

 .info3{
  position: relative;
  display: flex;
  width: 270px;
  height: 344px;
 }
  .info3_p{
    margin:230px 0 0 25px;
    position:absolute;
    font-family: Raleway;
    font-size: 16px;
    line-height: 1.5;
    color: #787878;
  }

 .info_img{
  width: 270px;
  height: 203px;
}

.section4{
  display:flex;
  justify-content: center;
  height: 480px;
}

.view_button{
  position: absolute;
  display:flex;
  align-self:flex-end;
  text-decoration: none;
  background-color: #00b0ff;
  padding:16px 30px;
  color:white;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.section4_info div:hover{
  box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.2);
 }
 .section4_info div:hover p{
  color:#0022ff;
}

.section_final{
  display:flex
}

.insta{
  margin-top:262px;
  opacity: 0.03;
  font-family: Montserrat;
  font-size: 90px;
  font-weight: bolder;
  letter-spacing: 9px;
  z-index: 1;
}

.insta_png{
  height: 620px;
  width: 620px;
  margin-top: -21px;
}

.insta_png img{
  float: left;
}

.insta_footer{
  display: inline-flex;
  width: 620px;
  height: 70px;
  background-color:white;
  align-items: center;
}

.insta_footer img{
  width: 33px;
  height: 33px;
  margin-right: 20px;
  margin-left: 20px;
}

.insta_follow{
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: condensed;
  color: #00b0ff;
  margin-right: 20px;
}

.insta_surfers{
  font-family: Raleway;
  font-size: 16px;
  color: #000000;
}

.insta_text{
  color:#4d4d4d;
  margin-top:27px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
}

.section_facebook{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
  height: 348px;
  margin-top: 404px;
  margin-left: 50px;
  background-image: url(bg.png)
 }
 .logo-facebook{
  margin-top: 31px;
 }
 .surfers_co{
   width: 340px;
   height: 130px;
   display: flex;
   flex-direction: column;
   margin-left: 50px;
   margin-top: 15px;
   background-image: url(cover.jpg)
 }
 .surfers_co_first{
   display: inline-flex;
   height: 87px;
 }
 .co_logo{
   height: 69px;
   width: 69px;
 }
 .co_logo_text{
  position: absolute;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color:white;
   
 }
 .section_co_logo{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   height: 69px;
   width: 69px;
 }
 .surfers_co_text{
   margin-top: 10px;
   text-shadow: 1px 1.7px 6px rgba(0, 0, 0, 0.62);
   font-family: Montserrat;
   font-size: 13px;
   color:white;
   font-weight: 600;
 }

 .surfers_co_second{
   display: inline-flex;
 }

 .like_button{
  margin-left: 9px;
  margin-top: 11px;
 }

 .share_button{
   margin-left: 159px;
   margin-top:11px;
}

.surfers_friends{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  width: 340px;
  height: 85px;
  background-color:#e9ebee;
 }

 .surfers_users{
  display: flex;
  flex-direction: column;
  width: 322px;
  height: 67px;
  box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.13);
 }

 .users_text{
  margin-left: 8px;
  margin-top: 4px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color: #4b4f56;
 }

 .users_png{
  width: 304px;
  height: 32px;
  margin-left:8px;
  margin-top: 4px;
 }
 
.footer{
  margin-top: -225px;
  width: 1920px;
  height: 420px;
  background-color:black;
}

.footer_links{
  width: 250px;
  font-family: Raleway;
  line-height: 2.43;
  font-size: 14px;
  column-count: 2;
  column-gap: 100px;
  margin-left:1073px;
  color: #ffffff;
}

.footer_text{
  margin-top: 130px;
  margin-left: 1073px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
}

.footer_email{
  display: inline-flex;
  margin-left: 1073px;
  margin-top:20px; 
  align-items: center;
}

.your_email{
  color:#4d4d4d;
  font-family: Raleway;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 175px;
}

.br_email{
  background-color:#4d4d4d;
  margin-left: 1073px;
  margin-top: 10px;
  width: 304px;
  height: 1px;
}
